.header {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  -webkit-box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.75); }
  .header .title {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    flex-direction: row;
    padding: 0 10px; }
    .header .title__logo {
      width: 50px;
      height: 100%;
      fill: #000; }
    .header .title__name {
      text-transform: uppercase;
      font-family: 'Comfortaa';
      font-weight: 800;
      fill: #404040;
      font-size: 20px; }
  .header .nav {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
    -webkit-clip-path: circle(0px at top right);
    clip-path: circle(0px at top right);
    -webkit-transition: all ease-in-out 500ms;
    transition: all ease-in-out 500ms; }
    .header .nav--open {
      height: auto;
      -webkit-clip-path: circle(150% at top right);
      clip-path: circle(150% at top right); }
    .header .nav__item {
      background-color: #f2f2f2;
      border-bottom: 1px solid #d9d9d9;
      margin: 0;
      padding: 0; }
      .header .nav__item:last-child {
        border-bottom: none; }
      .header .nav__item > a {
        display: block;
        color: #404040;
        text-transform: uppercase;
        padding: 20px 35px; }
        .header .nav__item > a:hover {
          background-color: #d9d9d9;
          color: #000; }
  .header .toggle {
    padding: 15px;
    position: absolute;
    right: 15px;
    cursor: pointer; }
    .header .toggle .hamburger,
    .header .toggle .hamburger::before,
    .header .toggle .hamburger::after {
      content: '';
      display: block;
      background: #404040;
      height: 3px;
      width: 30px;
      border-radius: 3px;
      -webkit-transition: all ease-in-out 500ms;
      transition: all ease-in-out 500ms; }
    .header .toggle .hamburger::before {
      -webkit-transform: translateY(-7px);
      transform: translateY(-7px); }
    .header .toggle .hamburger::after {
      -webkit-transform: translateY(4px);
      transform: translateY(4px); }
  .header .open .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  .header .open .hamburger::before {
    opacity: 0; }
  .header .open .hamburger::after {
    -webkit-transform: translateY(-3px) rotate(-90deg);
    transform: translateY(-3px) rotate(-90deg); }

@media (min-width: 768px) {
  .header {
    position: fixed;
    top: 0;
    z-index: 1; }
    .header .nav {
      height: auto;
      position: relative;
      display: flex;
      flex-direction: row;
      clip-path: initial; }
      .header .nav__item {
        border-bottom: none;
        background-color: transparent; }
        .header .nav__item > a {
          padding: 10px 15px;
          color: #595959; }
          .header .nav__item > a:hover {
            background: none;
            color: #000; }
    .header .toggle {
      display: none; } }

.img {
  width: 100%;
  height: 300px;
  background: url(../img/bg.jpg) no-repeat center;
  position: relative; }
  .img__overlay {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right top, #051937, #004d7a, #008793);
    opacity: 0.6; }
  .img__text {
    color: #f2f2f2;
    font-size: 28px;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center; }

@media (min-width: 768px) {
  .img {
    height: 800px; }
    .img__text {
      font-size: 38px; } }

.about {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px; }
  .about__title {
    font-family: "Open sans", sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin-top: 20px;
    color: #404040; }
  .about .wrap {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px 0 30px 0; }
    .about .wrap__img {
      width: 150px;
      height: 100%;
      border-radius: 50%;
      margin-bottom: 10px;
      -webkit-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.75);
      -moz-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.75);
      box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.75); }
    .about .wrap__text {
      font-size: 14px;
      width: 300px;
      text-align: justify;
      background-color: rgba(64, 64, 64, 0.1);
      color: #404040;
      padding: 10px;
      border-top-left-radius: 20px;
      border-bottom-right-radius: 20px; }

@media (min-width: 768px) {
  .about .wrap {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .about .wrap__img {
      margin-right: 25px;
      width: 250px; }
    .about .wrap__text {
      width: 500px;
      font-size: 16px; } }

.skills {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793);
  margin: 20px 0;
  height: 500px; }
  .skills__title {
    font-family: "Open sans", sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin: 60px 0 30px 0;
    color: #fff; }
  .skills .html,
  .skills .css,
  .skills .js {
    max-width: 350px;
    display: flex;
    justify-content: center;
    max-height: 75px;
    width: 90%;
    background: rgba(255, 255, 255, 0.3);
    color: #595959;
    margin-bottom: 50px;
    border-radius: 4px; }
    .skills .html__list,
    .skills .css__list,
    .skills .js__list {
      position: relative;
      color: #f2f2f2;
      flex: 1; }
      .skills .html__list span,
      .skills .css__list span,
      .skills .js__list span {
        color: #051937;
        justify-content: center;
        align-items: center; }
  .skills svg {
    width: 25%;
    height: 100%;
    padding: 10px;
    align-self: center;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.9); }
  .skills .html__list > .div {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    text-align: center;
    width: 75%;
    height: 100%;
    color: #fff;
    padding: 20px 0 0 0;
    font-family: 'Comfortaa';
    font-size: 40px;
    background: #fc6a36; }
  .skills .css {
    flex-direction: row-reverse; }
    .skills .css__list {
      display: flex;
      flex-direction: row-reverse; }
      .skills .css__list > .div {
        color: #fff;
        font-family: 'Comfortaa';
        font-size: 35px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        position: absolute;
        text-align: center;
        width: 60%;
        height: 100%;
        background: #1dcffc;
        padding: 20px 0 0 0; }
  .skills .js__list > .div {
    color: #fff;
    padding: 20px 0 0 0;
    font-family: 'Comfortaa';
    font-size: 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    text-align: center;
    width: 20%;
    height: 100%;
    background: #faed3e; }

@media (min-width: 768px) {
  .skills .html,
  .skills .css,
  .skills .js {
    max-width: 600px; }
  .skills .html {
    margin-left: -100px; }
  .skills .css {
    margin-right: -100px; }
  .skills .js {
    margin-left: -100px; } }

.work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .work p {
    font-size: 28px;
    font-weight: 800;
    opacity: 0.2; }
  .work__title {
    font-family: "Open sans", sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin: 60px 0 30px 0;
    color: #404040; }
  .work .gallery__item {
    border: 3px solid #d9d9d9;
    border-radius: 5px;
    margin: 20px; }
    .work .gallery__item > img {
      width: 250px;
      border-radius: 5px; }

@media (min-width: 768px) {
  .work .gallery {
    margin-top: 50px;
    display: flex; }
    .work .gallery__item > img {
      padding: 0; } }

*, :before, :after {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat; }

html {
  font-size: 16px;
  height: 100%;
  font-family: 'Raleway',sans-serif; }

body {
  height: 100%; }

ol, ul, li {
  list-style: none; }

a, a:active, a:hover, a:focus, a:visited {
  text-decoration: none;
  color: #000; }

img {
  vertical-align: middle;
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%; }

article, aside, details, figcaption, figure, footer,
header, hgroup, main, menu, nav, section, summary {
  display: block; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }
