.header {
  background-color: #f2f2f2; }
  .header .title {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header .title__logo {
      width: 35px;
      fill: #404040; }
    .header .title__name {
      color: #f2f2f2;
      font-family: 'Open sans', sans-serif;
      font-weight: 600;
      font-size: 14px;
      color: #404040; }
  .header .nav {
    display: none; }
    .header .nav__item a {
      color: #000; }

/* SECTION  A*/
.section-a {
  position: relative;
  width: 100%;
  height: 100%; }
  .section-a video {
    max-width: 100% !important;
    opacity: 0.7;
    z-index: -999;
    display: block; }
  .section-a .title {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .section-a .title__name {
      font-size: 16px;
      font-weight: 600;
      color: #f2f2f2;
      text-align: center; }
      .section-a .title__name span {
        font-size: 16px;
        font-weight: 200; }
  .section-a .slider {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50px;
    right: 0;
    margin: 5px;
    transform: scale(0.9); }
    .section-a .slider .box {
      border: 1px solid rgba(0, 0, 0, 0.2);
      padding: 5px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 5px; }
      .section-a .slider .box__title {
        padding: 1px;
        font-size: 10px;
        color: #a6a6a6; }
      .section-a .slider .box__img {
        width: 26px;
        padding: 2.5px; }
    .section-a .slider .dots {
      /*
            FOR REVERS DOTS
            display: flex;
            flex-direction: column-reverse;
            */ }
      .section-a .slider .dots > div {
        margin-bottom: 5px;
        background: #000;
        width: 8px;
        height: 8px;
        border-radius: 50%; }
        .section-a .slider .dots > div:nth-child(1) {
          opacity: 0.7; }
        .section-a .slider .dots > div:nth-child(2) {
          opacity: 0.6; }
        .section-a .slider .dots > div:nth-child(3) {
          width: 7px;
          height: 7px;
          opacity: 0.5; }
        .section-a .slider .dots > div:nth-child(4) {
          width: 7px;
          height: 7px;
          opacity: 0.4; }
        .section-a .slider .dots > div:nth-child(5) {
          width: 6px;
          height: 6px;
          opacity: 0.3; }
        .section-a .slider .dots > div:nth-child(6) {
          width: 6px;
          height: 6px;
          opacity: 0.2; }

/* SECTION B */
.section-b {
  background-color: #d9d9d9;
  color: #595959; }
  .section-b .title {
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    color: #404040; }
    .section-b .title__top {
      align-self: flex-start;
      padding: 10px 0 0 15px; }
    .section-b .title__bot {
      align-self: flex-end;
      padding: 0 15px 10px 0; }
  .section-b .main {
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .section-b .main__img {
      width: 120px;
      border-radius: 50%;
      margin: 15px; }
    .section-b .main__text {
      font-size: 14px;
      text-align: justify;
      text-justify: inter-word;
      margin-bottom: 15px;
      padding: 0 60px; }

@media screen and (min-width: 420px) {
  .section-a .title__name {
    font-size: 20px; }
    .section-a .title__name span {
      font-size: 20px;
      font-weight: 200; } }

@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
    max-width: 1200px;
    margin: auto; }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px; }
    .header .title {
      height: 50px;
      padding: 10px 15px; }
      .header .title__logo {
        width: 50px; }
      .header .title__name {
        font-size: 20px; }
    .header .nav {
      display: flex;
      justify-content: center;
      align-items: center; }
      .header .nav__item a {
        padding: 10px 15px;
        color: #000; }
  .section-a .title__name {
    font-size: 36px;
    font-weight: 600; }
    .section-a .title__name span {
      font-size: 36px;
      font-weight: 400; }
  .section-b .title {
    font-size: 22px; }
    .section-b .title__top {
      margin: 50px 0 25px 50px; }
    .section-b .title__bot {
      margin: 25px 50px 50px 0; }
  .section-b .main {
    display: -webkit-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0; }
    .section-b .main__img {
      margin: 0;
      padding: 0;
      width: 200px; }
    .section-b .main__text {
      margin: 0;
      padding: 0 0 0 50px; } }

@media screen and (min-width: 768px) {
  .section-b .title {
    font-size: 22px; }
    .section-b .title__top {
      margin: 50px 0 25px 50px; }
    .section-b .title__bot {
      margin: 25px 50px 50px 0; }
  .section-b .main {
    margin: 0 250px; } }

*, :before, :after {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat; }

html {
  font-size: 16px;
  height: 100%;
  font-family: 'Raleway',sans-serif; }

body {
  height: 100%; }

ol, ul, li {
  list-style: none; }

a, a:active, a:hover, a:focus, a:visited {
  text-decoration: none;
  color: #000; }

img {
  vertical-align: middle;
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%; }

article, aside, details, figcaption, figure, footer,
header, hgroup, main, menu, nav, section, summary {
  display: block; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

.container {
  min-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center; }
