.header {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
    background-color: $gray4;
    .title {
        display: flex;
        display: -webkit-flex;
        align-items: center;
        flex-direction: row;
        padding: 0 10px;
        &__logo {
            width: 50px;
            height: 100%;
            fill: $white;
        }
        &__name {
            text-transform: uppercase;
            font-size: $heading;
            font-family: 'Comfortaa';
            font-weight: 800;
            color: $white;
        }
    }
    .nav {
        position: absolute;
        top: 100%;
        right: 0;
        
        clip-path: circle(0px at top right);
        transition: all ease-in-out 500ms;
        &--open {
            height: auto;
            clip-path: circle(150% at top right);
        }
        &__item {
            background-color: $gray3;
            border-bottom: 1px solid $gray2;
            margin: 0;
            padding: 0;
            &:last-child {
                border-bottom: none;
            }
            >a {
                display: block;
                color: $gray1;
                text-transform: uppercase;
                padding: 20px 35px;
                &:hover {
                    background-color: $gray1;
                    color: $gray3;
                }
            }
        }
    }
    .toggle {
        padding: 15px;
        position: absolute;
        right: 20px;
        cursor: pointer;
        .hamburger,
        .hamburger::before,
        .hamburger::after {
            content: '';
            display: block;
            background: $white;
            height: 3px;
            width: 30px;
            border-radius: 3px;
            transition: all ease-in-out 500ms;
        }
        .hamburger::before {
            transform: translateY(-7px);
        }
        .hamburger::after {
            transform: translateY(4px);
        }
    }
    .open .hamburger{
        transform: rotate(45deg);
    }
    .open .hamburger::before{
        opacity: 0;
    }
    .open .hamburger::after{
        transform: translateY(-3px) rotate(-90deg);
    }
}

@media (min-width:768px){
    .header {
        .title{

        }
        .nav{
            height: auto;
            position: relative;
            display: flex;
            flex-direction: row;
            clip-path: initial;
            &__item{
                border-bottom: none;
                background-color: transparent;
            
                >a{
                    padding: 10px 15px;
                    &:hover{
                        background: none;
                        opacity: 0.8;
                        color: $gray1;
                    }
                }
            }
        }
        .toggle{
            display: none;
            .hamburger{

            }
        }
        
    }
}