.header {
    background-color: $white;
    .title {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        &__logo {
            width: 35px;
            fill: #000;
        }
        &__name {
            color: $white;
            font-family: 'Open sans', sans-serif;
            font-weight: 600;
            font-size: 14px;
            color: $gray4;
        }
    }
    .nav {
        display: none;
        &__item {
            a {
                color: #000;
            }
        }
    }
}


/* SECTION  A*/

.section-a {
    position: relative;
    width: 100%;
    height: 100%;
    
    video {
        max-width: 100% !important;
        opacity: 0.7;
        z-index: -999;
        display: block;
    }
    .title {
        width: 100%;
        margin: auto;
        position: absolute;
        top: 50%; 
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
                
        
        &__name {
            font-size: 16px;
            font-weight: 600;
            color: $white;
            text-align: center;
            
            span {
                font-size: 16px;
                font-weight: 200;
                
            }
        }
    }
    .slider {
        display: none; //display flex
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 50px;
        right: 0;
        margin: 5px;
        transform: scale(0.9);
        .box {
            border: 1px solid rgba(0, 0, 0, .2);
            padding: 5px;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 5px;
            &__title {
                padding: 1px;
                font-size: 10px;
                
                color: $gray2;
            }
            &__img {
                width: 26px;
                padding: 2.5px;
            }
        }
        .dots {
            /*
            FOR REVERS DOTS
            display: flex;
            flex-direction: column-reverse;
            */
            &>div {
                margin-bottom: 5px;
                background: #000;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                &:nth-child(1){
                    opacity: 0.7;
                }
                &:nth-child(2){
                    opacity: 0.6;
                }
                &:nth-child(3){
                    width: 7px;
                    height: 7px;
                    opacity: 0.5;
                }
                &:nth-child(4){
                    width: 7px;
                    height: 7px;
                    opacity: 0.4;
                }
                &:nth-child(5){
                    width: 6px;
                    height: 6px;
                    opacity: 0.3;
                }
                &:nth-child(6){
                    width: 6px;
                    height: 6px;
                    opacity: 0.2;
                }
            } 
        }
    }
}

/* SECTION B */

.section-b{
    background-color: $gray1;
    color: $gray3;
    .title{
        display: -webkit-flex;
        flex-direction: column;
        justify-content: center;
        font-size: 18px;
        color: $gray4;
        &__top{
            align-self: flex-start;
            padding: 10px 0 0 15px;
        }
        &__bot{
            align-self: flex-end;
            padding: 0 15px 10px 0;
        }
    }
    .main{
        display: -webkit-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        &__img{
            width: 120px;
            border-radius: 50%;
            margin: 15px;
        }

        &__text{
            font-size: 14px;
            text-align: justify;
            text-justify: inter-word;
            margin-bottom: 15px;
            padding: 0 60px;
        }
    }
}


//MEDIA

@media screen and ( min-width: 420px ){
    .section-a {
        
        .title {
            &__name {
                font-size: 20px;
                span {
                    font-size: 20px;
                    font-weight: 200;
                }
            }
        }
         
    }
}

@media screen and ( min-width: 768px ){
    .container{
        min-width: 768px;
        max-width: 1200px;
        margin: auto;
    }
    .header {
        display: flex;
        justify-content: space-between;
        
        align-items: center;
        height: 75px;
        .title {
            height: 50px;
            padding: 10px 15px;
            &__logo {
                width: 50px;
            }
            &__name {
                font-size: 20px;
            }
        }
        .nav {
            display: flex;
            justify-content: center;
            align-items: center;
            &__item {
                a {
                    padding: 10px 15px;
                    color: #000;
                }
            }
        }
    }
    .section-a {
        
        .title {
            &__name {
                font-size: 36px;
                font-weight: 600;
                span {
                    font-size: 36px;
                    font-weight: 400;
                }
            }
        } 
    }
    .section-b{
        
        .title{
         font-size: 22px;
            &__top{
               margin: 50px 0 25px 50px;
            }
            &__bot{
                margin: 25px 50px 50px 0;
            }
        }
        .main{
           display: -webkit-flex;
           flex-direction: row;
           justify-content: center;
           align-items: center;
           margin: 0;
           padding: 0;
            
            &__img{
                margin: 0;
                padding: 0;
                width: 200px;
                
            }
    
            &__text{
                margin: 0;
                
                padding: 0 0 0 50px;
               
            }
        }
    }
}
@media screen and ( min-width: 768px ){
    .section-b{
        
        .title{
         font-size: 22px;
            &__top{
               margin: 50px 0 25px 50px;
            }
            &__bot{
                margin: 25px 50px 50px 0;
            }
        }
        .main{
          
           margin: 0 250px;
           
            
            &__img{
               
            }
    
            &__text{
              
            }
        }
    }
}