@import 'variables';
@import 'mixins';
@import 'header';
@import 'bg-img';
@import 'about';



////////////////
///NORMALIZE///
*, :before, :after {
    margin: 0;
    padding: 0;
    outline: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

html {
    font-size: 16px;
    height: 100%;
    font-family: 'Raleway',sans-serif;
}

body {
    height: 100%;
}

ol, ul, li {
    list-style: none;
}

a, a:active, a:hover, a:focus, a:visited {
    text-decoration: none;
    color: #000;
}

img {
    vertical-align: middle;
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
}

article, aside, details, figcaption, figure, footer,
header, hgroup, main, menu, nav, section, summary {
    display: block;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

.container{
   
    
}
